.portfolio-screens {
  border-radius: 24px;
  box-shadow: 0px 14px 24px #5a5a5a24;
  height: 794px;
  overflow: hidden;
  position: relative;
  width: 1144px;
}

.portfolio-screens .ellipse-3 {
  background-color: #19c7ff;
  border-radius: 174.41px/194.49px;
  filter: blur(200px);
  height: 389px;
  left: 274px;
  position: absolute;
  top: 393px;
  width: 349px;
}

.portfolio-screens .ellipse-4 {
  background-color: #ff94c8;
  border-radius: 272.4px/168.12px;
  filter: blur(200px);
  height: 336px;
  left: 259px;
  position: absolute;
  top: -20px;
  transform: rotate(11.69deg);
  width: 545px;
}

.portfolio-screens .ellipse-5 {
  background-color: #04ffb1;
  border-radius: 279px/199px;
  filter: blur(300px);
  height: 398px;
  left: 487px;
  position: absolute;
  top: 123px;
  width: 558px;
}

.portfolio-screens .ellipse-6 {
  background-color: #0034ff;
  border-radius: 461.43px/270.76px;
  filter: blur(400px);
  height: 542px;
  left: 15px;
  position: absolute;
  top: 64px;
  transform: rotate(-8.96deg);
  width: 923px;
}

.portfolio-screens .ellipse-7 {
  background: linear-gradient(180deg, rgb(239, 166, 7) 12.18%, rgb(252, 217, 58) 100%);
  border-radius: 134px;
  height: 268px;
  opacity: 0.4;
  position: absolute;
  width: 268px;
}

.portfolio-screens .group {
  height: 794px;
  position: relative;
  width: 1144px;
}

.portfolio-screens .element {
  object-fit: cover;
  position: absolute;
}

.portfolio-screens .rectangle {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background-color: #ffffff03;
  border-radius: 12px;
  position: absolute;
}

.portfolio-screens .glow {
  position: absolute;
}

.portfolio-screens .glow-2 {
  position: absolute;
}

.portfolio-screens .layer {
  height: 37px;
  left: 1120px;
  position: absolute;
  top: 670px;
  width: 24px;
}

.portfolio-screens .layer-2 {
  height: 27px;
  left: 997px;
  position: absolute;
  top: 364px;
  width: 27px;
}

.portfolio-screens .ellipse-8 {
  background: linear-gradient(180deg, rgb(239, 166, 7) 12.18%, rgb(252, 217, 58) 100%);
  border-radius: 134px;
  height: 268px;
  left: 486px;
  opacity: 0.4;
  position: absolute;
  top: 299px;
  width: 268px;
}

.portfolio-screens .ellipse-9 {
  background: linear-gradient(180deg, rgb(239, 166, 7) 12.18%, rgb(252, 217, 58) 100%);
  border-radius: 134px;
  height: 268px;
  left: 1026px;
  opacity: 0.4;
  position: absolute;
  top: -21px;
  width: 268px;
}

.portfolio-screens .ellipse-10 {
  background: linear-gradient(180deg, rgb(239, 166, 7) 12.18%, rgb(252, 217, 58) 100%);
  border-radius: 127.5px/134px;
  height: 268px;
  left: 756px;
  opacity: 0.4;
  position: absolute;
  top: 11px;
  width: 255px;
}

.portfolio-screens .rectangle-2 {
  -webkit-backdrop-filter: blur(326px) brightness(100%);
  backdrop-filter: blur(326px) brightness(100%);
  background-color: #ffffff03;
  height: 794px;
  position: relative;
  width: 1280px;
}

.portfolio-screens .aurora {
  object-fit: cover;
  position: absolute;
}

.portfolio-screens .aurora-2 {
  object-fit: cover;
  position: absolute;
}

.portfolio-screens .rectangle-3 {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background-color: #ffffff03;
  border-radius: 5px;
  height: 34px;
  left: 231px;
  position: absolute;
  top: 177px;
  width: 149px;
}

.portfolio-screens .rectangle-4 {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background-color: #ffffff03;
  border-radius: 5px;
  height: 48px;
  left: 237px;
  position: absolute;
  top: 286px;
  width: 149px;
}

.portfolio-screens .rectangle-5 {
  -webkit-backdrop-filter: blur(10px) brightness(100%);
  backdrop-filter: blur(10px) brightness(100%);
  background-color: #ffffff03;
  position: absolute;
}

.portfolio-screens.three {
  background-color: #1d82f4;
}

.portfolio-screens.four {
  align-items: flex-end;
  background-color: #131619;
  display: flex;
  gap: 70px;
}

.portfolio-screens.five {
  background-color: #131619;
}

.portfolio-screens.two {
  background-color: #2a7cff;
}

.portfolio-screens.six {
  background-color: #141843;
}

.portfolio-screens.one {
  background-color: #f5f5fb;
}

.portfolio-screens.zero {
  align-items: flex-end;
  background-color: #1a1b22;
  display: flex;
  gap: 70px;
}

.portfolio-screens.three .ellipse-7 {
  left: -54px;
  top: 529px;
}

.portfolio-screens.four .ellipse-7 {
  left: -54px;
  top: 529px;
}

.portfolio-screens.five .ellipse-7 {
  left: -54px;
  top: 529px;
}

.portfolio-screens.two .ellipse-7 {
  left: -54px;
  top: 529px;
}

.portfolio-screens.six .ellipse-7 {
  left: 486px;
  top: 299px;
}

.portfolio-screens.one .ellipse-7 {
  left: -54px;
  top: 529px;
}

.portfolio-screens.zero .ellipse-7 {
  left: -54px;
  top: 529px;
}

.portfolio-screens.three .element {
  height: 746px;
  left: 101px;
  top: 48px;
  width: 949px;
}

.portfolio-screens.four .element {
  height: 794px;
  left: 323px;
  top: 0;
  width: 756px;
}

.portfolio-screens.five .element {
  height: 678px;
  left: 168px;
  top: 116px;
  width: 808px;
}

.portfolio-screens.two .element {
  height: 678px;
  left: 168px;
  top: 116px;
  width: 808px;
}

.portfolio-screens.six .element {
  height: 678px;
  left: 168px;
  top: 116px;
  width: 808px;
}

.portfolio-screens.one .element {
  height: 678px;
  left: 170px;
  top: 116px;
  width: 805px;
}

.portfolio-screens.zero .element {
  height: 678px;
  left: 168px;
  top: 116px;
  width: 808px;
}

.portfolio-screens.three .rectangle {
  height: 30px;
  left: 182px;
  top: 138px;
  width: 109px;
}

.portfolio-screens.four .rectangle {
  height: 30px;
  left: 182px;
  top: 138px;
  width: 109px;
}

.portfolio-screens.five .rectangle {
  height: 30px;
  left: 182px;
  top: 138px;
  width: 109px;
}

.portfolio-screens.two .rectangle {
  height: 42px;
  left: 219px;
  top: 117px;
  width: 109px;
}

.portfolio-screens.six .rectangle {
  height: 30px;
  left: 182px;
  top: 138px;
  width: 109px;
}

.portfolio-screens.one .rectangle {
  height: 43px;
  left: 174px;
  top: 120px;
  width: 103px;
}

.portfolio-screens.zero .rectangle {
  height: 30px;
  left: 182px;
  top: 138px;
  width: 109px;
}

.portfolio-screens.three .glow {
  height: 81px;
  left: 66px;
  top: 46px;
  width: 81px;
}

.portfolio-screens.four .glow {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.five .glow {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.two .glow {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.six .glow {
  height: 794px;
  left: 532px;
  top: 0;
  width: 448px;
}

.portfolio-screens.one .glow {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.zero .glow {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.three .glow-2 {
  height: 40px;
  left: 0;
  top: 524px;
  width: 40px;
}

.portfolio-screens.four .glow-2 {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.five .glow-2 {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.two .glow-2 {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.six .glow-2 {
  height: 558px;
  left: 196px;
  top: 236px;
  width: 448px;
}

.portfolio-screens.one .glow-2 {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.zero .glow-2 {
  height: 794px;
  left: 0;
  top: 0;
  width: 1144px;
}

.portfolio-screens.three .aurora {
  height: 794px;
  left: 388px;
  top: 0;
  width: 587px;
}

.portfolio-screens.four .aurora {
  height: 686px;
  left: 73px;
  top: 108px;
  width: 756px;
}

.portfolio-screens.five .aurora {
  height: 794px;
  left: 388px;
  top: 0;
  width: 587px;
}

.portfolio-screens.two .aurora {
  height: 794px;
  left: 388px;
  top: 0;
  width: 587px;
}

.portfolio-screens.six .aurora {
  height: 794px;
  left: 388px;
  top: 0;
  width: 587px;
}

.portfolio-screens.one .aurora {
  height: 794px;
  left: 388px;
  top: 0;
  width: 587px;
}

.portfolio-screens.zero .aurora {
  height: 794px;
  left: 469px;
  top: 0;
  width: 478px;
}

.portfolio-screens.three .aurora-2 {
  height: 589px;
  left: 169px;
  top: 205px;
  width: 587px;
}

.portfolio-screens.four .aurora-2 {
  height: 589px;
  left: 169px;
  top: 205px;
  width: 587px;
}

.portfolio-screens.five .aurora-2 {
  height: 589px;
  left: 169px;
  top: 205px;
  width: 587px;
}

.portfolio-screens.two .aurora-2 {
  height: 589px;
  left: 169px;
  top: 205px;
  width: 587px;
}

.portfolio-screens.six .aurora-2 {
  height: 589px;
  left: 169px;
  top: 205px;
  width: 587px;
}

.portfolio-screens.one .aurora-2 {
  height: 589px;
  left: 169px;
  top: 205px;
  width: 587px;
}

.portfolio-screens.zero .aurora-2 {
  height: 683px;
  left: 142px;
  top: 111px;
  width: 618px;
}

.portfolio-screens.three .rectangle-5 {
  height: 38px;
  left: 209px;
  top: 245px;
  width: 91px;
}

.portfolio-screens.four .rectangle-5 {
  height: 38px;
  left: 183px;
  top: 202px;
  width: 91px;
}

.portfolio-screens.five .rectangle-5 {
  height: 38px;
  left: 418px;
  top: 207px;
  width: 91px;
}

.portfolio-screens.two .rectangle-5 {
  height: 38px;
  left: 209px;
  top: 245px;
  width: 91px;
}

.portfolio-screens.six .rectangle-5 {
  height: 30px;
  left: 209px;
  top: 245px;
  width: 69px;
}

.portfolio-screens.one .rectangle-5 {
  height: 38px;
  left: 209px;
  top: 245px;
  width: 91px;
}

.portfolio-screens.zero .rectangle-5 {
  height: 15px;
  left: 610px;
  top: 268px;
  width: 34px;
}
