.element-customer-review {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 84px;
  /* padding: 100px 0px 0px; */
  position: relative;
  /* width: 1440px; */
}

.element-customer-review .text-wrapper-27 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--48-heading-4-medium-font-family);
  font-size: var(--48-heading-4-medium-font-size);
  font-style: var(--48-heading-4-medium-font-style);
  font-weight: var(--48-heading-4-medium-font-weight);
  letter-spacing: var(--48-heading-4-medium-letter-spacing);
  line-height: var(--48-heading-4-medium-line-height);
  margin-top: -1px;
  position: relative;
  text-align: center;
  width: 1440px !important;
}

.element-customer-review .auto-layout-5 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 54px;
  /* margin-left: -553.5px;
  margin-right: -553.5px; */
  position: relative;
}

.element-customer-review .auto-layout-wrapper {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-wrap: wrap;
  gap: 44px 44px;
  justify-content: center;
  position: relative;
  width: 2547px;
}

.element-customer-review .auto-layout-6 {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 34px;
  justify-content: center;
  position: relative;
  width: 1280px;
}

.element-customer-review .frame-8 {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 34px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-customer-review .auto-layout-7 {
  align-items: flex-start;
  background-color: var(--greysgrey-01);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  height: 328px;
  opacity: 0.9;
  padding: 40px;
  position: relative;
}

.element-customer-review .frame-9 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  position: relative;
}

.element-customer-review .image-wrapper {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 10px;
  position: relative;
}

.element-customer-review .img-3 {
  height: 60px;
  position: relative;
  width: 60px;
}

.element-customer-review .frame-10 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.element-customer-review .text-wrapper-28 {
  color: var(--black);
  font-family: var(--18-body-3-bold-font-family);
  font-size: var(--18-body-3-bold-font-size);
  font-style: var(--18-body-3-bold-font-style);
  font-weight: var(--18-body-3-bold-font-weight);
  letter-spacing: var(--18-body-3-bold-letter-spacing);
  line-height: var(--18-body-3-bold-line-height);
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-customer-review .text-wrapper-29 {
  color: var(--grey);
  font-family: var(--12-body-1-regular-font-family);
  font-size: var(--12-body-1-regular-font-size);
  font-style: var(--12-body-1-regular-font-style);
  font-weight: var(--12-body-1-regular-font-weight);
  letter-spacing: var(--12-body-1-regular-letter-spacing);
  line-height: var(--12-body-1-regular-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-customer-review .text-wrapper-30 {
  align-self: stretch;
  color: var(--black);
  flex: 1;
  font-family: var(--16-body-4-medium-font-family);
  font-size: var(--16-body-4-medium-font-size);
  font-style: var(--16-body-4-medium-font-style);
  font-weight: var(--16-body-4-medium-font-weight);
  letter-spacing: var(--16-body-4-medium-letter-spacing);
  line-height: var(--16-body-4-medium-line-height);
  position: relative;
}

.element-customer-review .frame-11 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 6px;
  position: relative;
}

.element-customer-review .star {
  height: 15px;
  position: relative;
  width: 17.32px;
}

.element-customer-review .frame-12 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.element-customer-review .frame-13 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  justify-content: center;
  position: relative;
}

.element-customer-review .image {
  height: 60px;
  object-fit: cover;
  position: relative;
  width: 60px;
}

.element-customer-review .frame-14 {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 4px;
  position: relative;
}

.element-customer-review .auto-layout-8 {
  align-items: flex-start;
  align-self: stretch;
  background-color: var(--greysgrey-01);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  opacity: 0.9;
  padding: 40px;
  position: relative;
}

.element-customer-review .text-wrapper-31 {
  color: var(--grey);
  font-family: var(--small-text-font-family);
  font-size: var(--small-text-font-size);
  font-style: var(--small-text-font-style);
  font-weight: var(--small-text-font-weight);
  letter-spacing: var(--small-text-letter-spacing);
  line-height: var(--small-text-line-height);
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.element-customer-review .auto-layout-9 {
  align-items: flex-start;
  background-color: var(--greysgrey-01);
  border-radius: 20px;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  gap: 24px;
  opacity: 0.9;
  padding: 40px;
  position: relative;
}

.element-customer-review .text-wrapper-32 {
  align-self: stretch;
  color: var(--black);
  font-family: var(--16-body-4-medium-font-family);
  font-size: var(--16-body-4-medium-font-size);
  font-style: var(--16-body-4-medium-font-style);
  font-weight: var(--16-body-4-medium-font-weight);
  letter-spacing: var(--16-body-4-medium-letter-spacing);
  line-height: var(--16-body-4-medium-line-height);
  position: relative;
}

.element-customer-review .frame-15 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 8px;
  position: relative;
}

.element-customer-review .rectangle-6 {
  background-color: var(--greysgrey-06);
  border-radius: 20px;
  height: 6px;
  position: relative;
  width: 72px;
}

.element-customer-review .rectangle-7 {
  background-color: var(--greysgrey-02);
  border-radius: 20px;
  height: 6px;
  position: relative;
  width: 72px;
}

.element-customer-review .element-portfolio-session {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 84px;
  justify-content: center;
  padding: 100px 80px;
  position: relative;
  width: 1440px;
}

.element-customer-review .section-heading-2 {
  align-items: flex-start;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 8px;
  position: relative;
  width: 1110px;
}

.element-customer-review .section-heading-instance {
  align-self: stretch !important;
  display: flex !important;
  flex: 0 0 auto !important;
  width: 100% !important;
}

.element-customer-review .section-heading-3 {
  align-self: stretch !important;
  color: var(--greysgrey-09) !important;
  font-family: var(--56-heading-3-medium-font-family) !important;
  font-size: var(--56-heading-3-medium-font-size) !important;
  font-style: var(--56-heading-3-medium-font-style) !important;
  font-weight: var(--56-heading-3-medium-font-weight) !important;
  letter-spacing: var(--56-heading-3-medium-letter-spacing) !important;
  line-height: var(--56-heading-3-medium-line-height) !important;
  width: unset !important;
}

.element-customer-review .carousel {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  gap: 24px;
  justify-content: center;
  position: relative;
  width: 100%;
}

.element-customer-review .arrow {
  height: 44px !important;
  position: relative !important;
  width: 44px !important;
}
